<div  *ngIf="!userFormData"  class="container mt-4">
  <h1 class="text-center card-title">{{ formData.title }}</h1>
  <form *ngIf="previewForm" [formGroup]="previewForm" class="row g-4">
    <div formArrayName="additionalFields" class="w-100">
      <div
        *ngFor="let field of additionalFields.controls; let i = index"
        [formGroupName]="i"
        class="col-md-8 card-body"
      >
        <label class="form-label fw-bold">
          {{ fields[i]['value'] }} <strong *ngIf="fields[i]['isrequired'] === 'required'">*</strong>
        </label>
        <input
          [type]="fields[i]['inputType']"
          class="form-control"
          formControlName="value"
          [placeholder]="'Enter a value'"
        />
        
        <!-- Error Messages -->
        <div *ngIf="field.get('value')?.touched && field.get('value')?.invalid" class="text-danger">
          <div *ngIf="field.get('value')?.errors?.['required']">
            This field is required.
          </div>
          <div *ngIf="field.get('value')?.errors?.['email']">
            Please enter a valid email address.
          </div>
          <div *ngIf="field.get('value')?.errors?.['pattern']">
            Only numeric values are allowed.
          </div>
          <div *ngIf="field.get('value')?.errors?.['minlength']">
            Minimum length required: 
            {{ field.get('value')?.errors?.['minlength']?.requiredLength }} characters.
          </div>
         
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="col-md-12 text-center">
      <button
        type="button"
        class="btn btn-primary mt-3"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<div *ngIf="userFormData" class="form-preview">
  <h2>{{ formData.title }}</h2>
  <div *ngFor="let field of userFormData" class="form-field">
    <label>{{ field.label }}</label>
    <p>{{ field.value }}</p>
  </div>
</div>