<div class="container mt-4">
  <h1 class="text-center card-title">{{ formData.title }}</h1>
  <form *ngIf="previewForm" [formGroup]="previewForm" class="row g-4">
    <!-- Title -->
   

    <!-- Dynamic Fields -->
    <div formArrayName="additionalFields" class="w-100">
      <div
        *ngFor="let field of fields; let i = index"
        [formGroupName]="i"
        class="col-md-8 card-body"
      >
      <label class="form-label fw-bold">{{ field['value'] }}</label>
      <input
        [type]="field['inputType']"
        class="form-control"
        formControlName="value"
        [placeholder]="'Enter a value'"
      
      />
      
      </div>
    </div>

    <!-- Submit Button -->
    <div class="col-md-12 text-center">
      <button
        type="button"
        class="btn btn-primary mt-3"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>