<div class="container mt-4">
  <h2 class="text-center">Form Preview</h2>
  <form *ngIf="previewForm" [formGroup]="previewForm" class="row g-4">
    <!-- Title -->
    <div class="col-md-6">
      <h1 class="card-title text-center">{{ formData.title }}</h1>
    </div>

    <!-- Question -->
<!--     <div class="col-md-6">
      <label class="form-label fw-bold">Question</label>
      <textarea
        class="form-control"
        rows="4"
        formControlName="question"
        placeholder="Question"
      ></textarea>
    </div> -->

    <!-- Dynamic Fields -->
    <div formArrayName="additionalFields" class="w-100">
      <div
        *ngFor="let field of fields; let i = index"
        [formGroupName]="i"
        class="col-md-6"
      >
        <label class="form-label fw-bold">  {{ field['value'] }}</label>
        <input
          [type]="field['inputType']"
          class="form-control"
          formControlName=""
          placeholder="Enter a value"
        />
      </div>
    </div>

    <!-- Submit Button -->
    <div class="col-md-12 text-center">
      <button
        type="button"
        class="btn btn-primary mt-3"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>

  