<div class="container">
    <h2>Form Name: {{ formTitle}}</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <ng-container *ngIf="mappedFields.length > 0">
            <!-- Generate table headers dynamically -->
            <th *ngFor="let key of mappedFields[0]?.keyValuePairs | objectKeys">
              {{ key }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let form of mappedFields">
        
          <!-- Generate table rows dynamically for respective values -->
          <td *ngFor="let key of form.keyValuePairs | objectKeys">
            {{ form.keyValuePairs[key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  